---
import { HeroSlider1, HeroSlider3 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
---

<Layout
    title="Agence ELR | L'agence pour PME par excellence"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">
        <Hero
            client:load
            heroType="fullPageSlider"
            data={[
                {
                    subtitle: "Libérez-vous des tâches marketing, concentrez-vous sur ce que vous faites le mieux",
                    title: "Agence ELR",
                    background: HeroSlider1.src,
                    paragraph:
                        "Offrez-vous les moyens de faire grandir votre entreprise",
                    button: {
                        text: "Découvrez nos capacités",
                        link: "/services",
                    },
                },
                {
                    subtitle: "Une solution complète pour développer votre entreprise en ligne",
                    title: "Site web",
                    background: HeroSlider3.src,
                    paragraph: "Du simple redesign à la création complète, nous sommes prêt à vous aider avec des concepts uniques et innovants qui sauront charmer votre audience.",
                    button: {
                        text: "Jetez un coup d'oeil",
                        link: "/design",
                    },
                    
                },
                {
                    subtitle: "Rejoignez vos clients potentiels, peu importe ou ils sont",
                    title: "Marketing",
                    background: HeroSlider3.src,
                    paragraph:
                        "Concentrez-vous sur votre cœur de métier pendant que nous faisons grandir votre entreprise",
                    button: {
                        text: "En savoir plus!",
                        link: "/marketing",
                    },
                },
            ]}
        />
    </main>
</Layout>
